* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  overflow-x: hidden;
}

html, body {
  overflow: hidden;
  height: 100%;
}


header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  z-index: 5; /* Menü bleibt oben sichtbar */
}
/* Ladeanzeige Hintergrund */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  font-family: Arial, sans-serif;
  transition: opacity 2s ease; /* Sanftes Ausblenden */
}

/* Loader Animation */
.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #ffffff;
  border-top: 6px solid chocolate;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animation für den Kreis */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styling für den Text */
#loading-screen p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.background h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
  line-height: 0.75;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  opacity: 0; /* Unsichtbar zu Beginn */
  color: chocolate; /* Startfarbe */
  animation: color-pulse-zwei 0.7s ease forwards;
}

.overlay {
  position: absolute;
  top: 25%; /* Startet 20% vom oberen Rand */
  left: 25%; /* Startet 20% vom linken Rand */
  width: 50%; /* Deckt 60% der Breite ab */
  height: 50%; /* Deckt 60% der Höhe ab */
  background-color: black;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(1vh at 0px 0px);
  transition: clip-path 0.2s ease, padding 0.2s ease;
  padding: 0vh;
  text-align: center;
}

.background h1.animate {
  animation: fadeInColorChange 0.7s ease forwards; /* Animation starten */
}

.overlay video {
  position: fixed; /* Fixiert das Video relativ zum Viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Deckt die gesamte Breite des Bildschirms ab */
  height: 100vh; /* Deckt die gesamte Höhe des Bildschirms ab */
  object-fit: cover; /* Schneidet das Video proportional zu */
  z-index: -1; /* Stellt sicher, dass das Video hinter anderen Elementen bleibt */
  pointer-events: none; /* Verhindert Interaktionen mit dem Video */
}

.overlay h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
  line-height: 0.75;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  z-index: 4;
}
.overlay h1,
.background h1 {
  user-select: none; /* Verhindert das Auswählen von Text */
  cursor: default; /* Setzt den Standardcursor */
}
#video-text {
  font-size: 8vh;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5); /* Startfarbe */
  text-align: center;
  animation: color-pulse 10s infinite alternate; /* Animation aktivieren */
}

/* Keyframes für die Animation */
@keyframes color-pulse {
  0% {
    color: rgb(0, 189, 214);
  }
  33% {
    color: rgb(255, 255, 255);
  }
  66% {
    color: rgb(0, 189, 214);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

@keyframes slide-in-top-left {
  0% {
    transform: rotate(-90deg) translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-top-right {
  0% {
    transform: rotate(90deg) translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.corner-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.corner-button {
  position: absolute;
  width: 7vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 15px -3px rgba(0, 0, 0, 0.5);
  transition: background-color 0.6s ease, transform 0.9s ease;
  opacity: 1;
  z-index: 10;

  /* Hinzufügen der Farbwechsel-Animation */
  animation: button-color-pulse 3s infinite alternate;
}
@keyframes button-color-pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInColorChange {
  0% {
    opacity: 0; /* Startet unsichtbar */
    color: chocolate; /* Ursprüngliche Farbe */
  }
  100% {
    opacity: 1; /* Sichtbar */
    color: white; /* Ziel-Farbe */
  }
}

/* Hover-Effekte für die Buttons */
.corner-button:hover {
  transform: scale(1.7) rotate(90deg);
  box-shadow: 3px 5px 15px -3px rgba(0, 0, 0, 0.6),
    5px -5px 15px -3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  opacity: 1;
}

/* Ecken-Positionierung und Animationen */
.top-left {
  top: 7vw;
  left: 7vw;
  transform: rotate(0deg);
  transform-origin: center;
  animation: slide-in-top-left 2s ease;
  animation-delay: 2s;
}

.top-right {
  top: 7vw;
  right: 7vw;
  transform: rotate(0deg);
  transform-origin: center;
  line-height: 1;
  animation: slide-in-top-right 2s ease;
  animation-delay: 2s;
}

footer {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.5vh;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
}

