* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 5; /* Menü bleibt oben sichtbar */
}

.hamburger-menu {
    display: flex;
    gap: 20px;
}

.hamburger-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.background h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vh;
    text-transform: uppercase;
    color: white;
    text-align: center;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: none;
    transition: clip-path 0.2s ease, padding 0.2s ease;
    padding: 20px; /* Padding hinzufügen */
    text-align: center;
}

.overlay video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vh;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    z-index: 4;
}
